*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Helvetica, sans-serif;
}

.view {
    position: relative;
    height: 100vh;
}

/* Background */
.view .back-green{
    height: 17%;

    background-color: #009688;
}

.view .back-grey{
    height: calc(100% - 17%);

    background-color: #d9dbd5;
}
/* /Background */

ul{
    padding-left: 0px;

    margin-bottom: 0;
}

li {
    list-style-type: none;
}

.small-text{
    color: grey;

    font-size: 0.7em;
}

/* Assets */


/* Chat window */
.view .chat-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

    width: 80%;
    height: 95%;

    background-color: white;

    border: 2px solid #d6d6d6;

    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}

/* Inner left */

.view .chat-window .inner-left{
    display: flex;
    flex-direction: column;

    width: 35%;
    height: 100%;
}

/* User section */

.view .chat-window .inner-left .user-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 4px;

    height: 60px;

    background-color: #eaeaea;
}

.view .chat-window .inner-left .user-sec .user-avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.view .chat-window .inner-left .user-sec .user-avatar #img-container{

    width: 48px;
    height: 48px;

    border-radius: 50%;

    background-color: white;
}

.view .chat-window .inner-left .user-sec .user-avatar #img-container img{
    width: 100%;
}


.view .chat-window .inner-left .user-sec .user-icons{
    display: flex;
    align-items: center;
    gap: 15px;

    padding-right: 18px;
}

.view .chat-window .inner-left .user-sec .user-icons i{
    font-size: 1.3em;

    color: #b1b1b1;

    cursor: pointer;
}

/* /User section */


/* Notification section */

.view .chat-window .inner-left .not-sec{
    display: flex;
    align-items: center;
    gap: 10px;

    padding-left: 20px;

    height: 70px;

    background-color: #8edafc;

}

.view .chat-window .inner-left .not-sec .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: white;

    color: #8edafc;

    font-size: 1.4em;
}

.view .chat-window .inner-left .not-sec .text-container{
    font-size: 0.9em;
}

.view .chat-window .inner-left .not-sec .text-container #link{
    font-size: 0.9em;

    color: grey;
}

/* /Notification section */


/* Chat search section */

.view .chat-window .inner-left .chat-search{
    padding: 6px 6px;

    height: 45px ;

    background-color: #fafafa;
}

.view .chat-window .inner-left .chat-search .input-group-text{
    color: #b1b1b1;

    background-color: white;

    cursor: pointer;
}

.view .chat-window .inner-left .chat-search .form-control::placeholder{
    color: darkgrey;

    font-size: 0.8em;
}


/* /Chat search section */



/* Chat list */

.view .chat-window .inner-left .chat-list-container{
    display: flex;
    flex-direction: column;

    height: calc(100% - 45px - 70px - 60px);

    overflow-y: scroll;
}

.view .chat-window .inner-left .chat-list-container .chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 8px 20px;
    

    height: 70px;

    border-bottom: 2px solid #f8f8f8;

    cursor: pointer;
}

.view .chat-window .inner-left .chat-list-container .chat:hover{

    background-color: #e9ebeb;

}

.view .chat-window .inner-left .chat-list-container .chat-container.active{

    background-color: #e9ebeb;
}

.view .chat-window .inner-left .chat-list-container .chat .chat-inner-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.view .chat-window .inner-left .chat-list-container .chat .chat-inner-left .img-container{
    width: 52px;
    height: 52px;

    border-radius: 50%;

    overflow: hidden;
}

.view .chat-window .inner-left .chat-list-container .chat .chat-inner-left .img-container img{
    width: 100%;
}

.view .chat-window .inner-left .chat-list-container .chat .chat-inner-left .chat-info {
    overflow: hidden;
}

.view .chat-window .inner-left .chat-list-container .chat .chat-inner-right{
    text-align: end;
}




/* /Chat list */

/* /Inner left */





/* Inner right */

.view .chat-window .inner-right{
    position: relative;

    width: 65%;
    height: 100%;

    border-left: 1px solid #d6d6d6;
}


/* Chat nav */

.view .chat-window .inner-right .chat-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 8px;

    height: 60px;

    background-color: #eaeaea;
}

.view .chat-window .inner-right .chat-nav .chat-nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.view .chat-window .inner-right .chat-nav .chat-nav-left .img-container{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden; 
}

.view .chat-window .inner-right .chat-nav .chat-nav-left .img-container img{
    width: 100%;
}

.view .chat-window .inner-right .chat-nav .icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    padding-right: 20px;
}

.view .chat-window .inner-right .chat-nav .icons-container i{
    font-size: 1.3em;

    color: #b1b1b1;

    cursor: pointer;
}

/* /Chat nav */


/* Chat main */

.view .chat-window .inner-right .chat-main{
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;

    height: calc(100% - 60px - 60px);

    background-image: url(../img/mine.jpg);

    overflow-y: scroll;
}

.view .chat-window .inner-right .chat-main .row{
    display: flex;
    flex-direction: column;

    margin-bottom: 8px;
}

.view .chat-window .inner-right .chat-main .row .message-menu{
    position: absolute;
    right: 20px;
    top: 20px;

    display: flex;
    flex-direction: column;

    width: 140px;

    font-size: 0.8em;

    background-color: #ffffff;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);

    z-index: 2;
}

.view .chat-window .inner-right .chat-main .row .message-menu .choose{
    padding: 8px 18px;

    cursor: pointer;
}

.view .chat-window .inner-right .chat-main .row .message-menu .choose:hover{
    background-color: #d6d6d6;
}



.view .chat-window .inner-right .chat-main .message-box{
    position: relative;

    display: flex;
    align-items: center;

    padding: 15px;

    width: 300px;
    max-width: 60%;

    border-radius: 10px;
}

.view .chat-window .inner-right .chat-main .message-box .message-hour{
    position: absolute;
    right: 4px;
    bottom: 2px;

    font-size: 0.6em;

    color: #b1b1b1;
}

.view .chat-window .inner-right .chat-main .sent{

    background-color: #d5f9ba;
    align-self: flex-end;

}

.view .chat-window .inner-right .chat-main .received{

    background-color: white;
    align-self: flex-start;
}

/* /Chat main */


/* Chat writebar */

.view .chat-window .inner-right .chat-write-bar{
    position: fixed;
    bottom: 0px;
    right: 0px;

    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: calc(100% - 35%);
    height: 60px;

    background-color: #f3eeea;
}

.view .chat-window .inner-right .chat-write-bar .write-bar{
    width: 80%;
}

.view .chat-window .inner-right .chat-write-bar .write-bar input {
    width: 100%;
    height: 38px;

    padding: 0 10px;

    border-radius: 8px;
    border-style: none; 
}

.view .chat-window .inner-right .chat-write-bar i{

    font-size: 1.3em;

    color: #6b7376;

    cursor: pointer;
}

/* /Chat writebar */

/* /Inner right */



